.background{
    background-image: url(../../data/Bg.png);
    height:140vh;
    background-position:center center; 
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
 position: absolute;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 300px;
}